#include <iostream>
#include "{{ prefix }}StateMachine.h"
#include "{{ prefix }}Context.h"

int main() {
    {{ prefix }}StateMachine sm;
    std::cout << "State Machine Initialized Successfully!" << std::endl;
    return 0;
}